* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
width: 100%;
height: 7vh;
display: flex;
background-color: rgba(32, 34, 112, 0.95);
justify-content: space-around;
align-items: center;


}
.single {
  color:white;
  padding: 1%;
  text-decoration: none;
}

.box{
  width: 60vh;
  height: 80vh;
   border: solid thin;
   border-radius: 3%;
   box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5); 
   /* display: flex;
   flex-direction: column; */
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   align-items: center;
   background-color: rgb(79, 79, 151);
}
.sign_in_logo{
  
  color: rgb(255, 255, 255);
  padding:1% 5% 1% 5%;
}
.logo{
  
  color: rgb(41, 28, 109);
  padding:1% 5% 1% 5%;
}

.container {
  margin-top: 5%;
  width:70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.two{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: white;
  justify-content: space-around;
  height: 20%;
  align-content: space-around;
  margin-left: 4%;
}
.two input{
  width:95%;
  border-radius: 5%;
  margin: 1px;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5); 
}
.two h4{
  margin:1px;
}

.container2 {
  margin-top: 5%;
  width:70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.container2 input{
  box-shadow: 3px 4px 7px 3px rgba(32, 32, 32, 0.5); 
  border-radius: 5;
  padding: 4%;
}

.box_item{
  padding:5%;
  margin:3%;
  color: rgb(43, 43, 126);
  margin-bottom: 1px;
}

.container button{
  background-color: rgba(255, 255, 255, 0.903);
  color:rgb(56, 63, 147);
  border-radius: 25px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5); 
  border-color: rgb(16, 16, 65)


 
}

.container button:hover{
  background-color: rgb(209, 209, 198);
  color:rgb(26, 32, 88);
  border-radius: 25px;
  width:50%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5); 
 
}


.container button:active{
  background-color: rgb(7, 10, 60);
  color:rgb(226, 227, 231);
  border-radius: 25px;
  width:50%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5); 
 
}


.container2 button{
  background-color: rgba(255, 255, 255, 0.903);
  color:rgb(56, 63, 147);
  border-radius: 5%;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5); 
 
}


.box_item2{
 
  color: rgb(207, 207, 224);
  margin-left: auto;
  margin-right: auto;
  text-decoration: line;
  margin-bottom: 5%;
}
.profile_button{
  background-image: url("./images/user.png");
  padding: 2%;
  border-radius: 70%;
  width:30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center ;

}


.logo_on_navbar{
  color:rgb(239, 238, 245);
  padding: 5%;
  text-decoration: none;

}

.three{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color:rgb(34, 34, 145);
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 12%;
  
}
.three h4{
  margin-top:1%;
}

.barabum{
  display:flex;
  justify-content: space-between;
}

.container h4{
  color:white;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica ;
  font-weight: 100;
}

.DropDown{
  color: white;
  display:flex;
  flex-direction: column;
  position:absolute;
  margin-top: 1%;
  right:0;
  top:0;
  width:15%;
  margin-top: 0;
  height: 100vh;
  background-color: rgb(18, 18, 99, 0.7);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 16px;
  justify-content: space-around;
  
}
.bar_items{
 top:0;
 margin-top:30%;
position: absolute;
display: flex;
flex-direction: column;
margin-left: 13%;
justify-content: space-between;
height: 30%;
width: 70%;

}

.bar_link {
  color:white;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 100;
}

.yhh{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:25%;
}

.yhhh{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:15%;
}


.bar_items button {

 border:none;



}

.dropDownBox{

}

.post{
  border: thin ;
  border-radius: 15px;
  box-shadow: 2px 5px 8px 2px rgba(71, 69, 69, 0.5); 
  display:flex;
  width:50vh;
  justify-content: center;
  margin:2%;
  margin-top: 4%;
 /* height: 70%; */
 position:relative;
 height: 500px;

}

.post_inside {
  display:flex;
  flex-direction: column;

  /* margin: 2%; */
  width:100%;
  /* height: 100%; */
  
}





.post_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
}

.price_interested{
  display: flex;
  justify-content: space-between;
}
/* 
.post_inside  img{
height:50%;

} */

.profile_box{
  /* border: solid thin; */
  margin-top:8%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 10%;
  width:85%;
  height: 100%;

}

.first_half{
  display: flex;
  justify-content: space-around;
  align-items: center;


    
      background-color: rgb(251, 247, 247);
      box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
      width: 80%;
      height: 80vh;
      display: flex;
     
      align-items: center;
  
}

.first_half img {
  width:40%;
  height: 50%;
  
}
.side{
  display:flex;
  align-items:baseline ;
}


.bio_and_stuff{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:50%;
  
}
.two_shorter{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:70%;
  margin-left:2%;
}

/* .bio_and_stuff input{
  width:80%;
  margin: 7%;
  padding: 1.5%;
  margin-right:50%;
  margin-right: auto;

} */

.container_post_creating{
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  width:80%;
  height: 100vh;
  margin-left:auto;
  margin-right: auto;
}

.features{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  height: 90%;
  width: 50%;
}
.types{
display:flex;
justify-content: space-between;

}
.types button{
  margin:6%;
  margin-bottom: 1%;
  padding:5%;
  width: 100%;
}

.pic_stuff{
  border: solid  thin;
  width: 40%;
  height:60%;
  display:flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.both{
  border: solid  thin;
  width: 40%;
  height:60%;
}

.pic_stuff img{
  width:100%;
  height: 100%;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:90%;
  width:100%;
}
.inputs input{
  height:10%;
  border-radius: 10px;
  border: thin ;
  box-shadow: 1px 4px 5px 1px rgba(37, 26, 105, 0.5); 
}

#bioo{
  height:30%;
}


.features  input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.modify_button{
  background-color: rgba(52, 61, 196, 0.903);
  color:white;
  border-radius: 10%;
  width:40px;
  height:30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.5); 
}

.display_posts2{

display:grid;
grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));

}

.post2{
  border: solid thin ;
  box-shadow: 2px 5px 8px 2px rgba(71, 69, 69, 0.5); 
  display:flex;
  width:50vh;
  justify-content: center;
  margin:2%;
  margin-top: 4%;

}

.upload_pic{
  padding:4%;
  background-color: white;
  border-radius: 50%;
  width: 20%;
  height: 20%;;
  border: thin solid ;
  background-color: rgb(63, 63, 173);
  color:white;
}

  /* individual post page */

  .post_container{
 /* border: solid thin; */
 background-color: rgb(251, 247, 247);
 box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5); 
 border-radius: 20px;
 margin-top:2%;
 margin-left:auto;
 margin-right: auto;
 margin-bottom: 10%;
 width:70%;
 height: 80vh;
 display:flex;
 justify-content: space-between;
 align-items: center;

 }

  .slides_maybe{
    margin-top: 5%;
    margin-left:5%;
    width:50%;
    height: 80%;
    padding:2%;
  }
  .post_rest{
    width:50%;
    height: 80%;
    padding:2%;
    color:rgb(33, 33, 91);
    margin-right: 4%;
  }
  .two_things{
    display:flex;
    justify-content: space-between;
    /* margin-left: 5%;
    margin-right: 5%; */

  }

  .post_rest button{
    /* margin-left:76%; */
    padding:1.7%;
    margin-bottom:4%;
    width: 40%;
    border-radius: 15px;
    color:rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(245, 248, 255);
  }
  .tags{
    display: flex;
    justify-content: space-between;
    width:80%;
  }
.tags h4{
  border-radius: 15px;
    color:rgb(255, 255, 255);
    border: solid rgb(31, 31, 106);
    background-color: rgb(57, 61, 135);
 
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: Helvetica, sans-serif;
}

  .slides_maybe img{
    width:80%;
    height: 70%;
    border-radius: 15px;
  }

  #theType {
    border: solid;
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 1.5%;
    color:rgb(25, 25, 104)
    
  }

  .post_container2{
    background-color: rgb(251, 247, 247);
    box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    margin-top:8%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10%;
    width:50%;
    height: 75vh;
    display:flex;
    align-items: center;
    justify-content: center;
   
  }
  .post_rest2{
    display:flex;
    flex-direction: column;
    padding: 6%;
    margin-bottom: 3%;
    margin-top: 3%;
    color:rgb(37, 39, 124)
  }

  .post_rest2 button{
    /* margin-left:76%; */
    padding:2%;
    width: 25%;
    border-radius: 15px;
    color:rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(245, 248, 255);
    margin-bottom: 5%;
  }

    /* add post */

    .post_container3{
      /* border: solid thin; */
      background-color: rgb(251, 247, 247);
      box-shadow: 1px 7px 12px 1px rgba(20, 9, 84, 0.5); 
      border-radius: 20px;
      margin-top:3.5%;
      margin-left:auto;
      margin-right: auto;
      margin-bottom: 10%;
      width:80%;
      height: 80vh;
      display:flex;
      justify-content: space-between;
      align-items: center;
     
      }

      .first_half3 img {
        width: 50%;
        height: 40%;
        border-radius: 50%;
      margin: 5%;
      margin-bottom:9%;
      box-shadow: 1px 6px 15px 1px rgba(20, 9, 84, 0.5); 
      border:solid thin;
    }

    .first_half3 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(251, 247, 247);
      box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
      width: 80%;
      height: 90vh;
      display: flex;
      align-items: center;
  }
     
      .pic_stuff3{
        
        box-shadow: 1px 7px 10px 1px rgba(20, 11, 67, 0.4); 
        border-radius: 15px;
        width: 40%;
        height:75%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left:5%;
        display: flex;
        flex-direction: column;
       

      }

      .features3{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        height: 90%;
        width: 40%;
        margin-right:5%;
      }

      .two_buttons{
        display: flex;
        justify-content:space-between ;
        width:100%;
        padding: 2%;
        margin-top: 2%;
      }

      .two_buttons button{

        width: 30%;
        padding:3%;
        
        border-radius: 15px;
        color:rgb(29, 29, 103);
        border: solid rgb(31, 31, 106);
        background-color: rgb(237, 237, 237);
 

      }

      .tag_inputs{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }


    /* added height to slide---------------------- */

.slide{
  height: 50%;
  width:100%;
}

.slide2{
  height: 50%;

  
}

.slide2 img{
  width:100%;
  height:100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* .slide img{
  height:70%;
  width:20%;
} */
.ims{
  height:100%;
  width:100%;
}

.imagesToUpload{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;
}

.imagesToUpload img{
  width:15%;
  height: 50%;
  /* padding: 3%;; */
  border-radius: 15px;
}

/* .imagesToUpload_many img{
  width:15%;
  height: 50%;
  padding: 3%;;
  border-radius: 15px;
} */

.img_box{
  height: 100%;
}

.img_box_{
  height: 100%;
  margin-top:40%;
}
.img_box_ img{
border-radius: 15px;;
}

#left{

  position:absolute;
  height: 48%;
  width:10%;
  background-color:transparent;
  border:none;

}

#right{
  position: absolute;
  right:0;
  height: 48%;
width:10%;
background-color:transparent;
border:none;


}

#left_{

  position:absolute;
  height: 100%;
  width:10%;
  background-color: transparent;
  border:none;
}

#right_{
  position: absolute;
  left:1;
  height: 100%;
  width:10%;
  background-color: transparent;
border:none;
right:0;

}

.slide_{
height:100%;
width:100%;
/* margin-bottom:20%; */
position:relative;
}


.slide img{
  width:100%;
  height:100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.post_element{
  border: solid;
  width:50%;
  padding:5%;
}


.display_posts{
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 150px;
  /* display: flex;
  flex-wrap: wrap; */
}

/* .display_posts div{
  
  width: 400px;
  height: 450px;
} */
.post_inside :first-child{
  height:50%;
}

.post_container4{
  /* border: solid thin; */
  background-color: rgb(251, 247, 247);
  box-shadow: 1px 7px 12px 1px rgba(20, 9, 84, 0.5); 
  border-radius: 20px;
  margin-top:3.5%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 10%;
  width:60%;
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  }
  .two_btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:5%;
    
  }
  .two_btns button{
    padding:1%;
    width: 14%;
    border-radius: 15px;
    color:rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(237, 237, 237);
  }

  .two_btns_modal{
    display: flex;
    justify-content: space-between;
    width: 110%;
    padding:2%;
    
  }

  .two_btns_modal button{
    padding:1%;
    width: 14%;
    border-radius: 15px;
    color:rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(181, 46, 46);
  }

  .container_post_updating{
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    width:100%;
    height: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5%;

   
   
  }
  .inputsForUpdating{
    width:50%;
  }

  .features4{

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    height: 100%;
    width: 40%;
    margin-right:5%;
  }
  
  .features4 input{
    height:10%;
    width: 100%;
    border-radius: 10px;
    border: thin ;
    box-shadow: 1px 4px 5px 1px rgba(37, 26, 105, 0.5); 
    margin:8%;
    
  }

  .features4 button {
    width: 30%;
    padding:3%;
    
    border-radius: 15px;
    color:rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(237, 237, 237);
  }


#bio_input{
  height:30%;
}

.del_save{
  display: flex;
  justify-content: space-between;
  width:50%;
  margin-bottom:5%;
  margin-left:auto;
  margin-right: auto;
}
.del_save button{
  padding:1%;
  width: 32%;
  height: 50%;
  border-radius: 15px;
  color:rgb(29, 29, 103);
  border: solid rgb(31, 31, 106);
  background-color: rgb(237, 237, 237);
  margin-bottom: 10%;
}
/* added height to one_post----------------------------- */

.one_post{
  border: thin;
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  /* height:400px;             */
}

.iconss{
color: white;
height: 20%;
width:80%;

}

.bio_and_stuff input{
  height:10%;
  width: 80%;
  border-radius: 10px;
  border: thin ;
  box-shadow: 1px 4px 5px 1px rgba(62, 61, 65, 0.5); 
  margin:8%;
}

.twee{
height: 5%;
display: flex;
justify-content: space-between;

}
.twee2{
  align-items: center;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

#back_btn{
margin-left: 4%;
    padding: 1%;
    width: 25%;
    border-radius: 15px;
    color: rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(245, 248, 255);
    margin-bottom: 5%;
}

.back{
  padding: 1%;
    width: 26%;
    border-radius: 15px;
    color: rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(245, 248, 255);
    margin-bottom: 5%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.back2{
  padding: 1%;
    width: 40%;
    border-radius: 15px;
    color: rgb(29, 29, 103);
    border: solid rgb(31, 31, 106);
    background-color: rgb(245, 248, 255);
    margin-bottom: 5%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#left2{
  position:absolute;
  height: 70%;
  width:10%;
  background-color:transparent;
  border:none;
  
}

#right2{
  position: absolute;
  right: 0;
  height: 70%;
  width: 10%;
  background-color: transparent;
  border: none;
  
}
.yahh{
  display:flex;
  justify-content: space-between;
}

.slide_for_single_post_page{
  
    height: 60%;
    width:100%;
    position:absolute;
    width: 30%;
   

}
.slide_for_single_post_page img{
  width:100%;
  height: 70%;
  border-radius: 15px;
  
}

.iconss2{
  color: white;
  height: 40%;
  width:100%;
  
  }

  #bioo2{
    height: 100px;
    margin-bottom: 20%;
  }
.mod_icon{
 height: 25px;
  width: 25px;
  color: rgb(21, 12, 71);
}

.button_for_profile_pic{
  background-color: rgb(255, 255, 250);
  padding:2%;
  width: 35%;
  border-radius: 20px;
  color:rgb(18, 21, 105);
  border-color:rgb(12, 14, 64);
  box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 

}
.button_for_profile_pic:hover{
  background-color: rgb(209, 209, 198);
  padding:2%;
  width: 35%;
  border-radius: 20px;
  color:rgb(18, 21, 105);
  border-color:rgb(12, 14, 64);
  box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 

}
.button_for_profile_pic:active{
  background-color: rgb(12, 14, 64);
  padding:2%;
  width: 35%;
  border-radius: 20px;
  color:rgb(240, 240, 253);
  border-color:rgb(12, 14, 64);
  box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 

}




.to_tings{
  display: flex;
/* flex-direction: column; */

  width:80%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  margin-left:30%;
}

#button_for_profile_picc{
  background-color: rgb(255, 255, 250);
  padding:15%;
  width: 220%;
  color:rgb(18, 13, 115);
  border-radius: 20px;
  box-shadow: 1px 4px 5px 1px rgba(142, 141, 143, 0.5); 
  border-color:rgb(12, 14, 64);
  /* margin-left:50%; */
  margin-left: 50%;
  
}

#button_for_profile_picc:hover{
  background-color: rgb(209, 209, 198);
  padding:15%;
  width: 220%;
  color:rgb(18, 13, 115);
  border-radius: 20px;
  box-shadow: 1px 4px 5px 1px rgba(142, 141, 143, 0.5); 
  border-color:rgb(12, 14, 64);
  margin-left:50%;
}
#button_for_profile_picc:active{
  background-color: rgb(12, 14, 64);
  padding:15%;
  width: 220%;
color:rgb(249, 249, 249);
  border-radius: 20px;
  box-shadow: 1px 4px 5px 1px rgba(142, 141, 143, 0.5); 
  border-color:rgb(12, 14, 64);
  margin-left:50%;
}



.button_for_profile_pic2{
  background-color: rgb(255, 255, 250);
  padding:2%;
  width: 35%;
  border-radius: 20px;
  color:rgb(18, 21, 105);
  border-color:rgb(12, 14, 64);
  box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 
  margin-left:30%;
}
#bio_b{
  height: 80px;
}

.button_for_profile_pic2:hover{
  background-color: rgb(209, 209, 198);
  padding:2%;
  width: 35%;
  border-radius: 20px;
  color:rgb(18, 21, 105);
  border-color:rgb(12, 14, 64);
  box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 
  margin-left:30%;
}
.button_for_profile_pic2:active{
  background-color: rgb(12, 14, 64);
  padding:2%;
  width: 35%;
  border-radius: 20px;
  color:rgb(245, 245, 248);
  border-color:rgb(12, 14, 64);
  box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 
  margin-left:30%;
}

.box_for_profile{



    
      background-color: rgb(251, 247, 247);
      box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
      width: 80%;
      height: 80vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
     
      
  
}

.pic_name{
  width:45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic_name img{
  border-radius: 70%;
  width:70%;
  height: 300px;
}

.user_info_rest{
  width:50%;
}

.container2 h5{
  color:white;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}

.one_post_for_no_img{
  border: thin;
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  /* height:400px;     
          */
          height: 100%;
          justify-content: space-around;
}


.post_text_no_img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
  height:90%;
}

.post_container_contact{
  /* border: solid thin; */
  background-color: rgb(251, 247, 247);
  box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5); 
  border-radius: 20px;
  margin-top:2%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 10%;
  width:40%;
  height: 80vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
 
  }


  @media all and (max-width: 800px){

    .post_container3 {
      
      background-color: rgb(251, 247, 247);
      box-shadow: 1px 7px 12px 1px rgba(20, 9, 84, 0.5);
      border-radius: 20px;
      margin-top: 3.5%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
      width: 80%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .pic_stuff3 {
    margin-top:8%;
    box-shadow: 1px 7px 10px 1px rgba(20, 11, 67, 0.4);
    border-radius: 15px;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.first_half3 img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: 5%;
  margin-bottom: 9%;
  box-shadow: 1px 6px 15px 1px rgba(20, 9, 84, 0.5);
  border: solid thin;
}

.features3 {
  margin-top:10%;
  margin-left:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  height: 90%;
  width: 80%;
  margin-right: 5%;
  margin-bottom:5%;
}

.first_half3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(251, 247, 247);
  box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 95%;
  height: 130vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio_and_stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 4%;
  margin-top:3%;

}

.display_posts2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-left: 15%;

}

.display_posts {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 150px;
  margin-left: 15%;
}


.post_container {
  /* border: solid thin; */
  background-color: rgb(251, 247, 247);
  box-shadow: 1px 7px 12px 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slides_maybe {
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  height: 80%;
  padding: 2%;
}

.post_rest {
  width: 80%;
  height: 80%;
  padding: 2%;
  color: rgb(33, 33, 91);
  margin-right: 4%;
}





  }

  .contact_person{

color:rgb(8, 11, 84);
width:100%;
margin-left:10%;
margin-bottom:10%;
font-size: 150%;
height: 10%;

  }

  .c_form{
    height: 100%;

    width:70%;
    display:flex;
    flex-direction: column;
    align-items: baseline;
   

  }

  .c_form textarea {
    width:100%;
    border-radius: 10px;
    border: thin;
    box-shadow: 1px 7px 12px 1px rgba(83, 81, 81, 0.5);
    height:25%;
  }
  .c_form input {
    width:100%;
    border-radius: 10px;
    border: thin;
    box-shadow: 1px 7px 12px 1px rgba(83, 81, 81, 0.5);
    height:25%;
  }

  #c_message{
    height: 100%;
  }
  .c_form button{

      background-color: rgb(255, 255, 250);
      padding:2%;
      width: 35%;
      border-radius: 20px;
      color:rgb(18, 21, 105);
      border-color:rgb(12, 14, 64);
      box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 
   
      margin-top:5%;
    

  }

  .c_form button:hover{
    background-color: rgb(209, 209, 198);
    padding:2%;
    width: 35%;
    border-radius: 20px;
    color:rgb(18, 21, 105);
    border-color:rgb(12, 14, 64);
    box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 
 
  }
  .c_form button:active{
    background-color: rgb(12, 14, 64);
    padding:2%;
    width: 35%;
    border-radius: 20px;
    color:rgb(245, 245, 248);
    border-color:rgb(12, 14, 64);
    box-shadow: 1px 4px 5px 1px rgba(147, 146, 148, 0.5); 
    
  }

  .dasf{
    width:100%;
    display: flex;
    justify-content: space-between;
  }

  #dip{
    margin-left: auto;
    margin-right: auto;
  }

  .idividualPostTitle{

    font-size: 110%;
    font-family:"Helvetica Neue", Helvetica;
    font-weight: bold;
    
  }
 

  /* .img_box_{

      width:100%;
      height: 50%;

  } */
  .img_box_ img{
    width:90%;
    margin-bottom: 20%;
    margin-right: auto;
    margin-left: auto;
  }
  .pic_stuff3_ {
    box-shadow: 1px 7px 10px 1px rgba(20, 11, 67, 0.4);
    border-radius: 15px;
    width: 30%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.slide_ img{
  width:100%;
  height: 110%;
  border-radius: 10px;
}